<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Meetup Page Draft</title>
</head>
<body>
<div id="app">
  <div v-if="!loading">
    <div class="meetup-cover" :style="meetup.cover">
      <h1 class="meetup-cover__title">{{ meetup.title }}</h1>
    </div>

    <div class="container">
      <div class="meetup">
        <div class="meetup__content">
          <h3>Описание</h3>
          <p class="meetup-description">{{ meetup.description }}</p>

          <h3>Программа</h3>
          <div class="meetup-agenda">
            <p class="meetup-agenda__empty" v-if="!meetup.agenda.length">Программа пока пуста, но когда-нибудь в ней обязательно что-нибудь появится!</p>
            
            <template v-else>
              <div v-for="el of meetup.agenda" :key="el.id" class="meetup-agenda__item">
                <div class="meetup-agenda__item-col">
                  <img class="icon" alt="icon" :src="`/assets/icons/icon-${el.icon}.svg`" />
                </div>
                <div class="meetup-agenda__item-col">{{ el.startsAt }} - {{ el.endsAt }}</div>
                <div class="meetup-agenda__item-col">
                  <h5 class="meetup-agenda__title" v-html="el.title"></h5>
                  <p v-if="el.type === 'talk'">
                    <span>{{ el.speaker }}</span><!--
                    --><span class="meetup-agenda__dot"></span><!--
                    --><span class="meetup-agenda__lang">{{ el.language }}</span>
                  </p>
                  <p v-if="el.description">{{ el.description }}</p>
                </div>
              </div>
            </template>
          </div>
        </div>

        <div class="meetup__aside">
          <ul class="info-list">
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-user.svg" />
              {{ meetup.organizer }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-map.svg" />
              {{ meetup.place }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-cal-lg.svg" />
              <time :datetime="meetup.datetime">{{ meetup.localDate }}</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
